<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="unslider.min.js"></script>
<%= stylesheet_link_tag "application", media: "all" %>
<%= javascript_include_tag "application" %>
<div class="demo">
  <ul>
    <li style="background-image: url('')">
      <img src="https://www.dropbox.com/s/opfwlyp6j3rt11c/codecademy-bookmark.png?dl=0">
    </li>
    <li style="background-image: url('')">
      <img src="https://www.dropbox.com/s/2ayf7l2v2klv6w0/codecademy-bass.png?dl=0">
    </li>
  </ul>
</div>