<ul>
  <li><a href="#home">Home</a></li>
  <li><a href="#news">News</a></li>
  <li><a href="#contact">Contact</a></li>
  <li><a href="#about">About</a></li>
</ul>
<ul class=footer>
  <li><a href=#><img src="https://www.dropbox.com/s/x7hsxaxsa6955v2/002-logotype.png?dl=0"></a></li>
  <li><a href=#><img src="https://www.dropbox.com/s/3ch60d5d27s05jm/001-linkedin.png?dl=0"></a></li>
</ul>